button{
	margin-bottom: 10px;
}

.deadcell, .livecell{
	width: 12px;
	height: 12px;
	border: 1px solid black;
	margin: -1px;
	padding: 0px;
	display: inline-block;
}

.livecell{
	background-color: green;
}

.deadcell{
	background-color: yellow;
}

.lifefieldrow{
	margin: -4px 10px -4px 10px;
}
