@(reqHeader: play.api.mvc.RequestHeader)

@main("Game of Life") {

	<script>
		$(function(){
			runTheApp({
				pathToWebSocket: "@routes.MySocket.sockets.webSocketURL()(reqHeader)",
				fieldSize: 40
			});
		})
	</script>
	   
	<div>
		<button id="start">Start!</button>
		<button id="stop">Stop!</button>
	</div>
	
	<div id="lifefield" data-bind="with: lifeFieldVm">

		<div data-bind="foreach: lifeFieldRows">
			<div class="lifefieldrow" data-bind="foreach: $data">
			
				<span data-bind="attr:{class: cellclass}, event:{click: cellclick}"></span>
				
			</div>
		</div>
	</div>
    
}