@(reqHeader: play.api.mvc.RequestHeader)

@main("Game of Life") {

	<script>
		$(function(){
			runTheApp({
				pathToWebSocket: "@routes.MySocket.sockets.webSocketURL()(reqHeader)",
				fieldSize: 10
			});
		})
	</script>
	   
	<div>
		<input type="text" id="message"/>
		<button id="send">Send!</button>
		<button id="close">Close connection!</button>
	</div>
	<div><textarea id="field" rows="15" cols="40"></textarea></div>
	
	<div id="lifefield" data-bind="foreach: lifeFieldVm">
	
		<div class="lifefieldrow" data-bind="foreach: lifeFieldRows">
		
			<span data-bind="attr:{class: cellclass}, event:{click: cellclick}"></span>
			
		</div>
		
	</div>
    
}